body {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(133, 133, 133) 0%, rgb(223, 223, 223) 100%);
  font-family: 'IBM Plex Mono', monospace;
}

input {
  font-family: 'IBM Plex Mono', monospace;
}

#game-canvas {
  border: 3px solid black;
  background: transparent;
}

.container {
  padding: 1rem;
  width: 100%;
}

.center {
  width: 600px;
  margin: 0 auto;
}

.toolbar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

.btn-action {
  border: 2px solid black;
  padding: 0.5rem;
  background-color: lightgray;
}

.btn-action:hover {
  background-color: lightslategray;
  cursor: pointer;
}

#open-input {
  display: none;
}

#picker{
  /* border-radius: 100%; */
  height: 40px;
  width: 40px;
  border: 2px solid black;
  outline: none;
  -webkit-appearance: none;
  padding: 0;
}
#picker::-webkit-color-swatch-wrapper {
  padding: 0;
  margin: 0;
}
#picker::-webkit-color-swatch {
  /* border: 2px solid black; */
  border: none;
  /* border-radius: 100%; */
}
#picker:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.tool-selected {
  border: 2px solid black !important;
  background-color: rgb(139, 139, 139) !important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tool {
  border: 2px solid black;
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  margin-left: 0.5rem;
  text-align: center;
  background-color: rgb(236, 236, 236);
  /* display: inline-block; */
}

.text-tool {
  border: 2px solid black;
  width: 400px;
  height: 40px;
  max-width: 400px;
  max-height: 40px;
  margin-left: 0.5rem;
  text-align: center;
  background-color: rgb(236, 236, 236);
  /* display: inline-block; */
}

.tool svg {
  color: black;
}

.tool:hover {
  background-color: rgb(180, 180, 180);
  cursor: pointer;
}