#game-canvas {
  border: 2px solid black;
  box-shadow: 5px 5px black;
  background: transparent;
}

.container {
  padding: 1rem;
  width: 100%;
}

body {
  background-color: rgb(255, 255, 255);
}

.center {
  width: 600px;
  margin: 0 auto;
}

.toolbar {
  margin-top: 1rem;
}

.btn-action {
  border: 2px solid black;
  padding: 0.5rem;
  background-color: lightgray;
}

.btn-action:hover {
  background-color: lightslategray;
  cursor: pointer;
}

.tool {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toolbar label {
  border: 2px solid black;
  padding: 0.5rem;
  text-align: center;
  line-height: 25px;
  background-color: lightgrey;
}

.toolbar label:hover {
  background-color: grey;
  cursor: pointer;
}